<p>Hallo <%= @user.name %></p>
<p>Gratulation, du hast beide Sorten richtig bestimmt!"</p>

<p>Dein Tipp für Sorte 1: <%= @sorte1 %></p>
<p>Dein Tipp für Sorte 2: <%= @sorte2 %></p>
<p>Lösung für Sorte 1: <%= @user.sorte11 %></p>
<p>Lösung für Sorte 2: <%= @user.sorte22 %></p>
