


  <%= form_tag(solution_users_path, method: "get") do %>
    <%= label_tag(:email, "Deine Email-Adresse (die Adresse auf der Du den Newsletter erhälst)", style: 'font-family: calibri; font-size:18px; padding-top:30px; padding-bottom:5px;') %>
    <%= text_field_tag(:email) %>

  <%= label_tag(:sorte1, "Dein Tipp für Sorte 1:", style: 'font-family: calibri; font-size:18px; padding-top:30px; padding-bottom:5px;') %>
    <select name="sorte1" id="sorte1">
      <option value="Adretta">132 Adretta</option>
      <option value="Centifolia">142 Centifolia</option>
      <option value="Heiderot">122 Heiderot</option>
    </select>

  <%= label_tag(:sorte2, "Dein Tipp für Sorte 2:", style: 'font-family: calibri; font-size:18px; padding-top:30px; padding-bottom:5px;') %>
    <select name="sorte2" id="sorte2">
      <option value="Adretta">132 Adretta</option>
      <option value="Centifolia">142 Centifolia</option>
      <option value="Heiderot">122 Heiderot</option>
    </select>

  <p style='padding-top:40px; padding-bottom:5px;'>
    <%= submit_tag("Check", style:'font-family: calibri; font-size:80px;') %>
  </p>
  <% end %>
