<p id="notice"><%= notice %></p>

<h1>Sortens</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Sorte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sortens.each do |sorten| %>
      <tr>
        <td><%= sorten.code %></td>
        <td><%= sorten.sorte %></td>
        <td><%= link_to 'Show', sorten %></td>
        <td><%= link_to 'Edit', edit_sorten_path(sorten) %></td>
        <td><%= link_to 'Destroy', sorten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sorten', new_sorten_path %>
