<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @sorten.code %>
</p>

<p>
  <strong>Sorte:</strong>
  <%= @sorten.sorte %>
</p>

<%= link_to 'Edit', edit_sorten_path(@sorten) %> |
<%= link_to 'Back', sortens_path %>
